// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container {
  width: 75%;
  height: 83.95%;
  float: left;
}

#suggestions-panel {
  width: 23.9%;
  height: 82.95%;
  float: left;
  border-left: 1px solid #202020;
  padding: 0.5% 0.5%;
}
